<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="<%= request.base_url %>">
  <title><%= Configure::get('name') %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" type="text/css" href="<%= assets 'css', 'bootstrap' %>">
  <link rel="stylesheet" type="text/css" href="<%= assets 'css', 'bootstrap-responsive' %>">
  <link rel="stylesheet" type="text/css" href="<%= assets 'css', 'main' %>">
  <script type="text/javascript" src="<%= assets 'js', 'underscore' %>"></script>
  <script type="text/javascript" src="<%= assets 'js', 'jquery' %>"></script>
  <script type="text/javascript" src="<%= assets 'js', 'angular' %>"></script>
  <script type="text/javascript" src="<%= assets 'js', 'bootstrap' %>"></script>
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
<script src="<%= assets 'js', 'html5shiv' %>"></script>
<![endif]-->
</head>

<body>
<div class="container span10" id="main-conteiner" style="float:none; margin: 0 auto;">
  <div>
    <div class="center-text">
      <img src="img/logo.png">
    </div>
    <div class="hero-unit">
      <div class="search-letters">
        <% search_letters.each do |letter| %>
            <a href="#" class="search-letter btn"><%= letter %></a>
        <% end %>
      </div>
      <form class="search">
        <div class="big-search-box">
          <div class="big-search-text-wrapper">
            <input type="text" class="big-search-text">
            <button class="btn btn-primary big-search-button">ENCONTRAR</button>
          </div>
        </div>
      </form>
    </div>
    <%= yield %>
  </div>
  <hr>
  <footer>
    <p>&copy; Company 2013</p>
  </footer>
</div>
</body>
</html>
